<div class="row form-group justify-content-center" style="background: #06113C;">
  <div class="col-sm-6 field">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :discogs_username,
                    required: false,
                    input_html: { autocomplete: "discogs-username" }%>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :email,
                    required: false,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :address,
                    required: false,
                    input_html: { autocomplete: "address" }%>
        <%= f.input :postcode,
                    required: false,
                    input_html: { autocomplete: "plz" }%>
        <%= f.input :phone_number,
                    required: false,
                    input_html: { autocomplete: "phone-number" }%>
        <%= f.input :country,
                    collection: User::NATIONS, prompt: 'Select new country',
                    required: false,
                    input_html: { autocomplete: "country" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", notice: "Account Updated", style: "color: #FF8C32;"%>
      </div>
    <% end %>

    <h4>Cancel my account</h4>

    <div class="d-flex align-items-center">
      <div style="color: #FF8C32;">Unhappy?</div>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link" %>
    </div>

    <%= link_to "Back", :back %>

  </div>
</div>
