<ul class="catCardList">
<p><% @alerts.each do |alert| %>
<li class="catCardList">
<div class="catCard"><a href= "<%"#{alert.product.product_url}"%>" target=_blank><img src="<%= "#{alert.product.image_url}" %>" /></a>
<div class="lowerCatCard">
<h3><%= alert.product.album_title %></h3>
<h5>Media Condition</h5>
<p><%= alert.min_media_condition %></p>
<h5>Sleeve Condition</h5>
<p><%= alert.min_sleeve_condition %></p>
<h5>Country</h5>
<p><%= alert.country %></p>
<h5>Max Price</h5>
<p><%= alert.max_price %></p>
<h5>Duration</h5>
<p><%= alert.alert_duration_days %></p>
<h5>Seller Rating</h5>
<p><%= alert.seller_rating %></p>
<%# <div id="catCardButton" class="button"><a href="#">Create an Alert</a></div> %>
  <%# <%= button_to "Delete product", product_path(product), method: :delete %>

</div>
</div>
</li>
<% end %>
</ul>
