<%= simple_form_for alert do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
    <%= f.hidden_field product.id, value: product.id %>
    <%= f.input :min_media_condition,
                collection: Alert::MIN_CONDITION, prompt: 'Select Minimum Condition',
                required: true %>
    <%= f.input :min_sleeve_condition,
                collection: Alert::MIN_SLEEVE_CONDITION, prompt: 'Select Sleeve Condition',
                required: false %>
    <%= f.input :country,
                collection: Alert::NATIONS, prompt: 'Select country',
                required: true %>
    <%= f.input :max_price,
                required: true %>
    <%= f.input :alert_duration_days,
                required: false %>
    <%= f.input :seller_rating,
                required: false%>
    <%= f.button :submit %>
  <% end %>
</div>
