<%= simple_form_for [product, alert] do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
    <%= f.input :min_media_condition,
                collection: Alert::MIN_CONDITION, prompt: 'Select Minimum Condition',
                required: true %>
    <%= f.input :min_sleeve_condition,
                collection: Alert::MIN_SLEEVE_CONDITION, prompt: 'Select Sleeve Condition',
                required: false %>
    <%= f.input :country,
                collection: Alert::NATIONS, prompt: 'Select country',
                required: true %>
    <%= f.input :max_price,
                required: true %>
    <%= f.input :seller_rating,
                hint: ("must be in percentage"),
                required: false%>
    <%= f.button :submit %>
  <% end %>
</div>
