<ul class="catCardList">
<p><% @products.each do |product| %>
<li class="catCardList">
<div class="catCard"><a href= "<%= "#{product.product_url}" %>" target=_blank><img src="<%= "#{product.image_url}" %>" /></a>
<div class="lowerCatCard">
<h3><%= product.album_title %></h3>d

<%= render "form", alert: Alert.new, product: product%>
<%# <div id="catCardButton" class="button"><a href="#">Create an Alert</a></div> %>
  <%= button_to "Delete product", product_path(product), method: :delete %>
  <button type="button" class="btn-lg btn-dark btn-link" href="https://www.discogs.com<%match.link_to_product%>" target="_blank">Buy Now</button>
</div>
</div>
</li>
<% end %>
</ul>
